.footer {
    background: #161718;
    padding: 116px 0 108px 0;
    &__list {
        display: flex;
        margin-left: -12px;
        &-link {
            padding: 12px;
            font-size: 16px;
            line-height: 28 / 16 * 100%;
            color: white;
            text-transform: uppercase;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__tel {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #d27b32;
        font-size: 18px;
        line-height: 28 / 16 * 100%;
        &:before {
            color: #d27b32;
        }
    }
    &__flex {
        display: flex;
        align-items: center;
        gap: 27px;
    }
    &__social {
        display: flex;
        gap: 20px;
        margin-left: 30px;
        a:before {
            font-size: 30px;
            color: white;
        }
    }
}
