.services {
    padding: 108px 0 136px 0;
    background: #f3ecde;
    &__text {
        max-width: 589px;
        font-size: 16px;
        line-height: 27 / 16 * 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #292b2d;
        margin-bottom: 111px;
        span {
            color: rgba(210, 123, 50, 1);
        }
    }
    &__flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media (max-width: 575px) {
            grid-template-columns: 1fr;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media (max-width: 880px) {
            grid-template-columns: 1fr;
        }
        & > div:first-child .services__grid-wrapper {
            padding: 10px 30px 30px 30px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            background: #292b2d;
            @media (max-width: 575px) {
                padding: 10px 17px 30px 17px;
            }
            .services__grid-text {
                position: initial;
            }
        }
        & > div:first-child {
            @media (max-width: 575px) {
                height: 272px;
                .services__grid-wrapper {
                    height: 100%;
                }
            }
        }
        &-wrapper {
            box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.28);
            height: 209px;
            position: relative;
        }
        &-title {
            margin-bottom: 16px;
        }
        &-text {
            position: absolute;
            bottom: 31px;
            left: 31px;
            right: 31px;
            @media (max-width: 575px) {
                left: 17px;
                right: 17px;
            }
        }
        & > div {
            position: relative;
            height: 209px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
